# -- Overrides the chart's name
nameOverride: ""

# -- Overrides the chart's computed fullname
fullnameOverride: ""

# -- Number of replicas
replicas: 1

autoscaling:
  # -- Autoscaling configuration
  enabled: false
  # -- Minimum number of replicas
  minReplicas: 2
  # -- Maximum number of replicas
  maxReplicas: 3
  # -- Target CPU utilization percentage
  targetCPUUtilizationPercentage: 85

image:
  # -- tracoor container image repository
  repository: ethpandaops/tracoor
  # -- tracoor container image tag
  tag: latest
  # -- tracoor container pull policy
  pullPolicy: IfNotPresent

# -- Secret env variables injected via a created secret
secretEnv: {}

# -- Command arguments
args: []

config:
  shared:
    metricsAddr: ":9091"
    logging: "debug"
    indexer:
      address: localhost:8081
    store:
      type: fs
      config:
        base_path: "/data/store"

  server:
    addr: ":8081"
    gatewayAddr: ":8080"
    pprofAddr: ":6060"
    preStopSleepSeconds: 1
    ntpServer: time.google.com
    # If postgres is enabled, this block will be overwritten
    persistence:
      dsn: "file:/data/tracoor.db"
      driver_name: sqlite
    services:
      indexer:
        retention:
          beaconStates: 30m
          executionBlockTraces: 30m
          beaconBlocks: 30m

  agents:
    - name: instance-1
      ethereum:
        overrideNetworkName: mainnet
        # features:
        #   fetchBeaconState: true
        #   fetchBeaconBlock: true
        #   fetchBeaconBadBlock: true
        #   fetchBeaconBadBlob: true
        #   fetchExecutionBlockTrace: true
        #   fetchExecutionBadBlock: true
        beacon:
          nodeAddress: http://localhost:5052
          # Prysm
          # requires --save-invalid-block-temp and --save-invalid-blob-temp flags enabled
          # Always stored in os.tmpdir(), eg. /tmp
          # invalidGossipVerifiedBlocksPath: /tmp
          # invalidGossipVerifiedBlobsPath: /tmp

          # Nimbus
          # requires --dump flag enabled
          # replace data-dir with the --data-dir flag value
          # invalidGossipVerifiedBlocksPath: /data-dir/dump/invalid

          # Lighthouse
          # requires --invalid-gossip-verified-blocks-path flag set eg. =/data/invalid
          # invalidGossipVerifiedBlocksPath: /data/invalid
        execution:
          nodeAddress: http://localhost:8545
          traceDisableMemory: true
          traceDisableStack: true
          traceDisableStorage: true

ingress:
  grpc:
    # -- Ingress resource for GRPC
    enabled: false
    # -- Annotations for Ingress
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    # -- Ingress host
    hosts:
      - host: chart-example.local
        paths: []
    # -- Ingress TLS
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local
  http:
    # -- Ingress resource for the HTTP API
    enabled: false
    # -- Annotations for Ingress
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    # -- Ingress host
    hosts:
      - host: chart-example.local
        paths: []
    # -- Ingress TLS
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local

# -- Custom args for the tracoor container
customArgs: []

# -- Command replacement for the tracoor container
customCommand: [] # Only change this if you need to change the default command

service:
  # -- Service type
  type: ClusterIP

# -- Affinity configuration for pods
affinity: {}

# -- Image pull secrets for Docker images
imagePullSecrets: []

# -- Annotations for the Deployment
annotations: {}

# -- Liveness probe
# @default -- See `values.yaml`
livenessProbe:
  tcpSocket:
    port: grpc
  initialDelaySeconds: 60
  periodSeconds: 120

# -- Readiness probe
# @default -- See `values.yaml`
readinessProbe:
  tcpSocket:
    port: grpc
  initialDelaySeconds: 10
  periodSeconds: 10

# -- Node selector for pods
nodeSelector: {}

persistence:
  # -- Uses an EmptyDir when not enabled
  enabled: false
  # -- Use an existing PVC when persistence.enabled
  existingClaim: null
  # -- Access mode for the volume claim template
  accessModes:
  - ReadWriteOnce
  # -- Requested size for volume claim template
  size: 20Gi
  # -- Use a specific storage class
  # E.g 'local-path' for local storage to achieve best performance
  # Read more (https://github.com/rancher/local-path-provisioner)
  storageClassName: null
  # -- Annotations for volume claim template
  annotations: {}
  # -- Selector for volume claim template
  selector: {}
  #   matchLabels:
  #     app.kubernetes.io/name: something

# -- Pod labels
podLabels: {}

# -- Pod annotations
podAnnotations: {}

# -- Extra Pod ports
extraPodPorts: []

# -- Pod priority class
priorityClassName: null

# -- Resource requests and limits
resources: {}
# limits:
#   cpu: 500m
#   memory: 2Gi
# requests:
#   cpu: 300m
#   memory: 1Gi

# -- The security context for pods
# @default -- See `values.yaml`
securityContext:
  fsGroup: 10001
  runAsGroup: 10001
  runAsNonRoot: true
  runAsUser: 10001

# -- The security context for containers
# @default -- See `values.yaml`
containerSecurityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

serviceAccount:
  # -- Specifies whether a service account should be created
  create: false
  # -- Annotations to add to the service account
  annotations: {}
  # -- The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# -- Lifecycle hooks
# @default -- See `values.yaml`
lifecycle:
  preStop:
    exec:
      command:
      - /bin/sleep
      - "30"

# -- How long to wait until the pod is forcefully terminated
terminationGracePeriodSeconds: 90

# -- Tolerations for pods
## ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
tolerations: []

# -- Topology Spread Constraints for pods
## ref: https://kubernetes.io/docs/concepts/scheduling-eviction/topology-spread-constraints/
topologySpreadConstraints: []

# -- Define the PodDisruptionBudget spec
# If not set then a PodDisruptionBudget will not be created
podDisruptionBudget: {}
# minAvailable: 1
# maxUnavailable: 1

# -- Additional init containers
initContainers: []
# - name: my-init-container
#   image: busybox:latest
#   command: ['sh', '-c', 'echo hello']

# -- Additional containers
extraContainers: []

# -- Additional volumes
extraVolumes: []

# -- Additional volume mounts
extraVolumeMounts: []

# -- Additional ports. Useful when using extraContainers
extraPorts: []

# -- Additional env variables
extraEnv: []

serviceMonitor:
  # -- If true, a ServiceMonitor CRD is created for a prometheus operator
  # https://github.com/coreos/prometheus-operator
  enabled: false
  # -- Path to scrape
  path: /metrics
  # -- Alternative namespace for ServiceMonitor
  namespace: null
  # -- Additional ServiceMonitor labels
  labels: {}
  # -- Additional ServiceMonitor annotations
  annotations: {}
  # -- ServiceMonitor scrape interval
  interval: 15s
  # -- ServiceMonitor scheme
  scheme: http
  # -- ServiceMonitor TLS configuration
  tlsConfig: {}
  # -- ServiceMonitor scrape timeout
  scrapeTimeout: 30s
  # -- ServiceMonitor relabelings
  relabelings: []

postgresql:
  # -- If enabled a postgres chart will be deployed as a dependency
  name: "{{ .Release.Name }}-postgresql"
  enabled: true
  image:
    registry: docker.io
    repository: bitnami/postgresql
    tag: 16.4.0-debian-12-r2
  pullPolicy: IfNotPresent
  auth:
    enablePostgresUser: true
    postgresPassword: postgres
    database: tracoor
    username: postgres
    password: postgres
  primary:
    extendedConfiguration: |
      max_connections = 1024
  persistence:
    enabled: true
    size: 8Gi
