# -- Overrides the chart's name
nameOverride: ""

# -- Overrides the chart's computed fullname
fullnameOverride: ""

# -- Number of replicas
replicas: 1

image:
  # -- smart-contract-verifier-http container image repository
  repository: ghcr.io/blockscout/smart-contract-verifier
  # -- smart-contract-verifier-http container image tag
  tag: main
  # -- smart-contract-verifier-http container pull policy
  pullPolicy: IfNotPresent

# -- Custom args for the smart-contract-verifier-http container
customArgs: []
  #- -config-file=/somehwere-else.yaml
  #- -output-dir=public

# -- Command replacement for the smart-contract-verifier-http container
customCommand: [] # Only change this if you need to change the default command

# -- Env variables injected via a created secret
secretEnv:
  #SOME_SECRET_ENV_VAR: some-secret

# -- Additional env variables
extraEnv:
  - name: SMART_CONTRACT_VERIFIER__CONFIG
    value: /app/config.toml

# -- Config file
# @default -- See `values.yaml`
config: |
  [server.http]
  enabled = true
  addr = "0.0.0.0:{{ include "smart-contract-verifier-http.httpPort" . }}"

  [compilers]
  # if omitted, number of CPU cores would be used
  # max_threads = 8

  [solidity]
  enabled = true
  compilers_dir = "/data/solidity-compilers"
  refresh_versions_schedule = "0 0 * * * * *"
  [solidity.fetcher.list]
  list_url = "https://solc-bin.ethereum.org/linux-amd64/list.json"

  #[solidity.fetcher.s3]
  #access_key = "access_key"
  #secret_key = "secret_key"
  #region = "region"
  #endpoint = "endpoint"
  ## The only required field for the s3 fetcher
  #bucket = "bucket"

  [vyper]
  enabled = true
  compilers_dir = "/data/vyper-compilers"
  refresh_versions_schedule = "0 0 * * * * *"
  [vyper.fetcher.list]
  list_url = "https://raw.githubusercontent.com/blockscout/solc-bin/main/vyper.list.json"

  [sourcify]
  enabled = true
  api_url = "https://sourcify.dev/server/"
  verification_attempts = 3
  request_timeout = 10

  [metrics]
  enabled = false
  addr = "0.0.0.0:6060"
  route = "/metrics"

  [jaeger]
  enabled = false
  agent_endpoint = "localhost:6831"

ingress:
  # -- Ingress resource for the HTTP API
  enabled: false
  # -- Annotations for Ingress
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  # -- Ingress host
  hosts:
    - host: chart-example.local
      paths: []
  # -- Ingress TLS
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

service:
  # -- Service type
  type: ClusterIP

# -- Affinity configuration for pods
affinity: {}

# -- Image pull secrets for Docker images
imagePullSecrets: []

# -- Annotations for the StatefulSet
annotations: {}

# -- Liveness probe
# @default -- See `values.yaml`
livenessProbe:
  tcpSocket:
    port: http
  initialDelaySeconds: 60
  periodSeconds: 120

# -- Readiness probe
# @default -- See `values.yaml`
readinessProbe:
  tcpSocket:
    port: http
  initialDelaySeconds: 10
  periodSeconds: 10

# -- Node selector for pods
nodeSelector: {}

persistence:
  # -- Uses an EmptyDir when not enabled
  enabled: false
  # -- Use an existing PVC when persistence.enabled
  existingClaim: null
  # -- Access mode for the volume claim template
  accessModes:
  - ReadWriteOnce
  # -- Requested size for volume claim template
  size: 2Gi
  # -- Use a specific storage class
  # E.g 'local-path' for local storage to achieve best performance
  # Read more (https://github.com/rancher/local-path-provisioner)
  storageClassName: null
  # -- Annotations for volume claim template
  annotations: {}
  # -- Selector for volume claim template
  selector: {}
  #   matchLabels:
  #     app.kubernetes.io/name: something

# -- Pod labels
podLabels: {}

# -- Pod annotations
podAnnotations: {}

# -- Pod management policy
podManagementPolicy: OrderedReady

# -- Pod priority class
priorityClassName: null

# -- Resource requests and limits
resources: {}
# limits:
#   cpu: 500m
#   memory: 2Gi
# requests:
#   cpu: 300m
#   memory: 1Gi

# -- The security context for pods
# @default -- See `values.yaml`
securityContext:
  fsGroup: 10001
  runAsGroup: 10001
  runAsNonRoot: true
  runAsUser: 10001

# -- The security context for containers
# @default -- See `values.yaml`
containerSecurityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

serviceAccount:
  # -- Specifies whether a service account should be created
  create: true
  # -- Annotations to add to the service account
  annotations: {}
  # -- The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# -- How long to wait until the pod is forcefully terminated
terminationGracePeriodSeconds: 30

# -- Tolerations for pods
## ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
tolerations: []

# -- Define the PodDisruptionBudget spec
# If not set then a PodDisruptionBudget will not be created
podDisruptionBudget: {}
# minAvailable: 1
# maxUnavailable: 1

# -- Update stategy for the Statefulset
updateStrategy:
  # -- Update stategy type
  type: RollingUpdate

# -- Additional init containers
initContainers: []
# - name: my-init-container
#   image: busybox:latest
#   command: ['sh', '-c', 'echo hello']

# -- Additional containers
extraContainers: []

# -- Additional volumes
extraVolumes: []

# -- Additional volume mounts
extraVolumeMounts: []

# -- Additional ports. Useful when using extraContainers
extraPorts: []

serviceMonitor:
  # -- If true, a ServiceMonitor CRD is created for a prometheus operator
  # https://github.com/coreos/prometheus-operator
  enabled: false
  # -- Path to scrape
  path: /metrics
  # -- Alternative namespace for ServiceMonitor
  namespace: null
  # -- Additional ServiceMonitor labels
  labels: {}
  # -- Additional ServiceMonitor annotations
  annotations: {}
  # -- ServiceMonitor scrape interval
  interval: 1m
  # -- ServiceMonitor scheme
  scheme: http
  # -- ServiceMonitor TLS configuration
  tlsConfig: {}
  # -- ServiceMonitor scrape timeout
  scrapeTimeout: 30s
  # -- ServiceMonitor relabelings
  relabelings: []
