apiVersion: v1
kind: Secret
metadata:
  name: {{ include "hermes.fullname" . }}-env
  labels:
    {{- include "hermes.labels" . | nindent 4 }}
data:
  s3-access-key-id: {{ required "A valid S3 access key id is required" .Values.secrets.s3AccessKeyId | b64enc }}
  s3-access-secret-key: {{ required "A valid S3 access secret key is required" .Values.secrets.s3AccessSecretKey | b64enc }}
