# -- Overrides the chart's name
nameOverride: ""

# -- Overrides the chart's computed fullname
fullnameOverride: ""

image:
  # -- testnet-homepage container image repository
  repository: skylenet/ethereum-testnet-homepage
  # -- testnet-homepage container image tag
  tag: latest
  # -- testnet-homepage container pull policy
  pullPolicy: IfNotPresent

# -- Secret env variables injected via a created secret
secretEnv: {}

# -- Configuration
# @default -- See `values.yaml`
config:
  baseURL: http://example.org/
  languageCode: en-us
  title: Ethereum Testnet
  theme: PaperMod
  markup:
    highlight:
      codeFences: true
      guessSyntax: true
      lineNos: false
      style: monokai
  params:
    disableThemeToggle: true
    defaultTheme: dark
    ethereum:
      ethstatsUrl: https://ethstats.testnet0.themerge.dev
      faucetUrl: https://faucet.testnet0.themerge.dev
      rpcUrl: https://rpc.testnet0.themerge.dev
      explorerUrl: https://explorer.testnet0.themerge.dev
      beaconexplorerUrl: https://beaconchain.testnet0.themerge.dev
      chainName: "Testnet0"
      chainId: "1337332"

    links:
    - name: "Beaconchain explorer"
      dataLookup: beaconexplorerUrl
    - name: "Transaction explorer"
      dataLookup: explorerUrl
    - name: "Ethstats"
      dataLookup: ethstatsUrl
    - name: "Consensus monitor"
      dataLookup: consensusmonitorUrl
    - name: "Faucet"
      dataLookup: faucetUrl
    - name: "JSON RPC"
      dataLookup: rpcUrl

  menu:
    main:
      - identifier: ethereum-website
        name: ethereum.org
        url: https://ethereum.org
        weight: 30
  disableKinds: ["taxonomy", "taxonomyTerm"]
  copyright: "This page is "

customMarkdown: |-
  # Hello world
  This is a paragraph

ingress:
  # -- Ingress resource for the HTTP API
  enabled: false
  # -- Annotations for Ingress
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  # -- Ingress host
  hosts:
    - host: chart-example.local
      paths: []
  # -- Ingress TLS
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

# -- Custom args for the testnet-homepage container
customArgs: []

# -- Command replacement for the testnet-homepage container
customCommand: [] # Only change this if you need to change the default command

service:
  # -- Service type
  type: ClusterIP

# -- Affinity configuration for pods
affinity: {}

# -- Image pull secrets for Docker images
imagePullSecrets: []

# -- Annotations for the Deployment
annotations: {}

# -- Liveness probe
# @default -- See `values.yaml`
livenessProbe:
  tcpSocket:
    port: http
  initialDelaySeconds: 60
  periodSeconds: 120

# -- Readiness probe
# @default -- See `values.yaml`
readinessProbe:
  tcpSocket:
    port: http
  initialDelaySeconds: 2
  periodSeconds: 5

# -- Node selector for pods
nodeSelector: {}

# -- Pod labels
podLabels: {}

# -- Pod annotations
podAnnotations: {}

# -- Pod priority class
priorityClassName: null

# -- Resource requests and limits
resources: {}
# limits:
#   cpu: 500m
#   memory: 2Gi
# requests:
#   cpu: 300m
#   memory: 1Gi

# -- The security context for pods
# @default -- See `values.yaml`
securityContext:
  fsGroup: 0
  runAsGroup: 0
  runAsNonRoot: false
  runAsUser: 0

# -- The security context for containers
# @default -- See `values.yaml`
containerSecurityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

serviceAccount:
  # -- Specifies whether a service account should be created
  create: true
  # -- Annotations to add to the service account
  annotations: {}
  # -- The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# -- How long to wait until the pod is forcefully terminated
terminationGracePeriodSeconds: 30

# -- Tolerations for pods
## ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
tolerations: []

# -- Define the PodDisruptionBudget spec
# If not set then a PodDisruptionBudget will not be created
podDisruptionBudget: {}
# minAvailable: 1
# maxUnavailable: 1

# -- Additional init containers
initContainers: []
# - name: my-init-container
#   image: busybox:latest
#   command: ['sh', '-c', 'echo hello']

# -- Additional containers
extraContainers: []

# -- Additional volumes
extraVolumes: []

# -- Additional volume mounts
extraVolumeMounts: []

# -- Additional ports. Useful when using extraContainers
extraPorts: []

# -- Additional env variables
extraEnv: []
