apiVersion: v1
kind: Service
metadata:
  name: {{ include "forkmon.fullname" . }}-headless
  labels:
    {{- include "forkmon.labels" . | nindent 4 }}
spec:
  clusterIP: None
  ports:
    - port: {{ include "forkmon.httpPort" . }}
      targetPort: http
      protocol: TCP
      name: http
  {{- if .Values.extraPorts }}
    {{ toYaml .Values.extraPorts | nindent 4}}
  {{- end }}
  selector:
    {{- include "forkmon.selectorLabels" . | nindent 4 }}
