apiVersion: v1
kind: Service
metadata:
  name: {{ include "observoor.fullname" . }}
  labels:
    {{- include "observoor.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: 9090
      targetPort: http
      protocol: TCP
      name: http
  {{- if .Values.extraPorts }}
    {{ toYaml .Values.extraPorts | nindent 4}}
  {{- end }}
  selector:
    {{- include "observoor.selectorLabels" . | nindent 4 }}
