apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "xatu-sentry-logs.fullname" . }}
  labels:
    {{- include "xatu-sentry-logs.labels" . | nindent 4 }}
data:
  _metrics.yaml: |-
    sinks:
      prometheus_exporter:
        type: prometheus_exporter
        inputs:
          - internal_metrics
        address: "0.0.0.0:{{ .Values.metricsPort }}"
  {{- range $key, $value := .Values.sources }}
  {{ $key }}.yaml: |-
    {{ tpl (toYaml $value) $ | nindent 4 }}
  {{- end }}
