apiVersion: v2
name: ethereum-node
description: >
  This chart acts as an umbrella chart and allows to run a ethereum execution and
  consensus layer client. It's also able to deploy optional monitoring applications.
home: https://ethereum.org
icon: https://avatars.githubusercontent.com/u/6250754?s=200&v=4
sources:
  - https://github.com/ethpandaops/ethereum-helm-charts
type: application
version: 0.2.9
maintainers:
  - name: skylenet
    email: rafael@skyle.net

dependencies:
- name: besu
  version: "1.1.2"
  repository: "https://ethpandaops.github.io/ethereum-helm-charts"
  condition: besu.enabled
- name: erigon
  version: "2.0.1"
  repository: "https://ethpandaops.github.io/ethereum-helm-charts"
  condition: erigon.enabled
- name: ethereumjs
  version: "0.1.1"
  repository: "https://ethpandaops.github.io/ethereum-helm-charts"
  condition: ethereumjs.enabled
- name: geth
  version: "1.1.2"
  repository: "https://ethpandaops.github.io/ethereum-helm-charts"
  condition: geth.enabled
- name: nethermind
  version: "1.1.0"
  repository: "https://ethpandaops.github.io/ethereum-helm-charts"
  condition: nethermind.enabled
- name: reth
  version: "0.1.4"
  repository: "https://ethpandaops.github.io/ethereum-helm-charts"
  condition: reth.enabled
- name: ethrex
  version: "0.1.1"
  repository: "https://ethpandaops.github.io/ethereum-helm-charts"
  condition: ethrex.enabled

- name: grandine
  version: "0.2.1"
  repository: "https://ethpandaops.github.io/ethereum-helm-charts"
  condition: grandine.enabled
- name: lighthouse
  version: "1.1.7"
  repository: "https://ethpandaops.github.io/ethereum-helm-charts"
  condition: lighthouse.enabled
- name: lodestar
  version: "1.2.0"
  repository: "https://ethpandaops.github.io/ethereum-helm-charts"
  condition: lodestar.enabled
- name: nimbus
  version: "1.2.0"
  repository: "https://ethpandaops.github.io/ethereum-helm-charts"
  condition: nimbus.enabled
- name: prysm
  version: "1.2.2"
  repository: "https://ethpandaops.github.io/ethereum-helm-charts"
  condition: prysm.enabled
- name: teku
  version: "1.2.0"
  repository: "https://ethpandaops.github.io/ethereum-helm-charts"
  condition: teku.enabled

- name: ethereum-metrics-exporter
  version: "0.2.0"
  repository: "https://ethpandaops.github.io/ethereum-helm-charts"
  condition: ethereum-metrics-exporter.enabled
- name: xatu-sentry
  version: "0.0.8"
  repository: "https://ethpandaops.github.io/ethereum-helm-charts"
  condition: xatu-sentry.enabled
- name: tracoor-agent
  version: "0.0.1"
  repository: "https://ethpandaops.github.io/ethereum-helm-charts"
  condition: tracoor-agent.enabled
- name: observoor
  version: "0.0.1"
  repository: "https://ethpandaops.github.io/ethereum-helm-charts"
  condition: observoor.enabled
- name: rpc-snooper
  version: "0.0.2"
  repository: "file://../rpc-snooper"
  condition: global.main.engineSnooper.enabled
