global:
  main:
    network: mainnet
    engineEndpoint: http://{{ .Release.Name }}-execution:8551
    engineSnooper:
      enabled: false
    rpcEndpoint: http://{{ .Release.Name }}-execution:8545
    wsEndpoint: ws://{{ .Release.Name }}-execution:8546
    beaconEndpoint: http://{{ .Release.Name }}-beacon:5052
  checkpointSync:
    enabled: true
    addresses:
      mainnet: https://mainnet-checkpoint-sync.attestant.io
      sepolia: https://checkpoint-sync.sepolia.ethpandaops.io
      holesky: https://checkpoint-sync.holesky.ethpandaops.io
      hoodi: https://checkpoint-sync.hoodi.ethpandaops.io
  clientArgs:
    networks:
      mainnet:
        execution:
          besu: []
          erigon: []
          ethereumjs: []
          ethrex: []
          geth: []
          nethermind: []
          reth: []
        consensus:
          grandine: []
          lighthouse: []
          lodestar: []
          nimbus: []
          prysm: []
          teku: []
      sepolia:
        execution:
          besu:
            - --network=sepolia
          erigon:
            - --chain=sepolia
          ethereumjs:
            - --network=sepolia
          ethrex:
            - --network=sepolia
          geth:
            - --sepolia
          nethermind:
            - --config=sepolia
          reth:
            - --chain=sepolia
        consensus:
          grandine:
            - --network=sepolia
          lighthouse:
            - --network=sepolia
          lodestar:
            - --network=sepolia
          nimbus:
            - --network=sepolia
          prysm:
            - --sepolia
          teku:
            - --network=sepolia
      holesky:
        execution:
          besu:
            - --network=holesky
          erigon:
            - --chain=holesky
          ethereumjs:
            - --network=holesky
          ethrex:
            - --network=holesky
          geth:
            - --holesky
          nethermind:
            - --config=holesky
          reth:
            - --chain=holesky
        consensus:
          grandine:
            - --network=holesky
          lighthouse:
            - --network=holesky
          lodestar:
            - --network=holesky
          nimbus:
            - --network=holesky
          prysm:
            - --holesky
          teku:
            - --network=holesky
      hoodi:
        execution:
          besu:
            - --network=hoodi
          erigon:
            - --chain=hoodi
          ethereumjs:
            - --network=hoodi
          ethrex:
            - --network=hoodi
          geth:
            - --hoodi
          nethermind:
            - --config=hoodi
          reth:
            - --chain=hoodi
        consensus:
          grandine:
            - --network=hoodi
          lighthouse:
            - --network=hoodi
          lodestar:
            - --network=hoodi
          nimbus:
            - --network=hoodi
          prysm:
            - --hoodi
          teku:
            - --network=hoodi


########################
###
###  Execution clients
###
########################

besu:
  enabled: false
  nameOverride: execution
  httpPort: 8545
  wsPort: 8546
  p2pPort: 30303
  extraArgs:
    - >-
      {{- with( index .Values.global.clientArgs.networks .Values.global.main.network ) }}
        {{- range $i, $v := .execution.besu }}
        {{- if (eq $i 0) }}
        {{- $v }}
        {{- else }}
        {{ $v }}
        {{- end }}
        {{- end -}}
      {{- end }}

erigon:
  enabled: false
  nameOverride: execution
  httpPort: 8545
  wsPort: 8546
  p2pPort: 30303
  extraArgs:
    - >-
      {{- with( index .Values.global.clientArgs.networks .Values.global.main.network ) }}
        {{- range $i, $v := .execution.erigon }}
        {{- if (eq $i 0) }}
        {{- $v }}
        {{- else }}
        {{ $v }}
        {{- end }}
        {{- end -}}
      {{- end }}

ethereumjs:
  enabled: false
  nameOverride: execution
  rpcPort: 8545
  wsPort: 8546
  p2pPort: 30303
  extraArgs:
    - >-
      {{- with( index .Values.global.clientArgs.networks .Values.global.main.network ) }}
        {{- range $i, $v := .execution.ethereumjs }}
        {{- if (eq $i 0) }}
        {{- $v }}
        {{- else }}
        {{ $v }}
        {{- end }}
        {{- end -}}
      {{- end }}

geth:
  enabled: false
  nameOverride: execution
  httpPort: 8545
  wsPort: 8546
  p2pPort: 30303
  extraArgs:
    - >-
      {{- with( index .Values.global.clientArgs.networks .Values.global.main.network ) }}
        {{- range $i, $v := .execution.geth }}
        {{- if (eq $i 0) }}
        {{- $v }}
        {{- else }}
        {{ $v }}
        {{- end }}
        {{- end -}}
      {{- end }}

nethermind:
  enabled: false
  nameOverride: execution
  httpPort: 8545
  wsPort: 8546
  p2pPort: 30303
  extraArgs:
    - >-
      {{- with( index .Values.global.clientArgs.networks .Values.global.main.network ) }}
        {{- range $i, $v := .execution.nethermind }}
        {{- if (eq $i 0) }}
        {{- $v }}
        {{- else }}
        {{ $v }}
        {{- end }}
        {{- end -}}
      {{- end }}

reth:
  enabled: false
  nameOverride: execution
  httpPort: 8545
  wsPort: 8546
  p2pPort: 30303
  extraArgs:
    - >-
      {{- with( index .Values.global.clientArgs.networks .Values.global.main.network ) }}
        {{- range $i, $v := .execution.reth }}
        {{- if (eq $i 0) }}
        {{- $v }}
        {{- else }}
        {{ $v }}
        {{- end }}
        {{- end -}}
      {{- end }}

ethrex:
  enabled: false
  nameOverride: execution
  httpPort: 8545
  wsPort: 8546
  p2pPort: 30303
  extraArgs:
    - >-
      {{- with( index .Values.global.clientArgs.networks .Values.global.main.network ) }}
        {{- range $i, $v := .execution.ethrex }}
        {{- if (eq $i 0) }}
        {{- $v }}
        {{- else }}
        {{ $v }}
        {{- end }}
        {{- end -}}
      {{- end }}

########################
###
###  Consensus clients
###
########################

grandine:
  enabled: false
  nameOverride: beacon
  httpPort: 5052
  p2pPort: 9000
  checkpointSync:
    enabled: "{{ default .Values.global.checkpointSync.enabled false }}"
    url: "{{ index .Values.global.checkpointSync.addresses .Values.global.main.network }}"
  extraArgs:
    - >-
      --eth1-rpc-urls={{ if .Values.global.main.engineSnooper.enabled }}http://{{ .Release.Name }}-engine-snooper:8551{{ else }}{{ tpl .Values.global.main.engineEndpoint . }}{{ end }}
      {{- with( index .Values.global.clientArgs.networks .Values.global.main.network ) }}
        {{- range .consensus.grandine }}
        {{ . }}
        {{- end -}}
      {{- end -}}

lighthouse:
  enabled: false
  nameOverride: beacon
  httpPort: 5052
  p2pPort: 9000
  checkpointSync:
    enabled: "{{ default .Values.global.checkpointSync.enabled false }}"
    url: "{{ index .Values.global.checkpointSync.addresses .Values.global.main.network }}"
  extraArgs:
    - >-
      --execution-endpoint={{ if .Values.global.main.engineSnooper.enabled }}http://{{ .Release.Name }}-engine-snooper:8551{{ else }}{{ tpl .Values.global.main.engineEndpoint . }}{{ end }}
      {{- with( index .Values.global.clientArgs.networks .Values.global.main.network ) }}
        {{- range .consensus.lighthouse }}
        {{ . }}
        {{- end -}}
      {{- end -}}

teku:
  enabled: false
  nameOverride: beacon
  httpPort: 5052
  p2pPort: 9000
  checkpointSync:
    enabled: "{{ default .Values.global.checkpointSync.enabled false }}"
    url: "{{ index .Values.global.checkpointSync.addresses .Values.global.main.network }}"
  extraArgs:
    - >-
      --ee-endpoint={{ if .Values.global.main.engineSnooper.enabled }}http://{{ .Release.Name }}-engine-snooper:8551{{ else }}{{ tpl .Values.global.main.engineEndpoint . }}{{ end }}
      {{- with( index .Values.global.clientArgs.networks .Values.global.main.network ) }}
        {{- range .consensus.teku }}
        {{ . }}
        {{- end -}}
      {{- end -}}

lodestar:
  enabled: false
  nameOverride: beacon
  httpPort: 5052
  p2pPort: 9000
  checkpointSync:
    enabled: "{{ default .Values.global.checkpointSync.enabled false }}"
    url: "{{ index .Values.global.checkpointSync.addresses .Values.global.main.network }}"
  extraArgs:
    - >-
      --execution.urls={{ if .Values.global.main.engineSnooper.enabled }}http://{{ .Release.Name }}-engine-snooper:8551{{ else }}{{ tpl .Values.global.main.engineEndpoint . }}{{ end }}
      {{- with( index .Values.global.clientArgs.networks .Values.global.main.network ) }}
        {{- range .consensus.lodestar }}
        {{ . }}
        {{- end -}}
      {{- end -}}

prysm:
  enabled: false
  nameOverride: beacon
  httpPort: 5052
  p2pPort: 9000
  checkpointSync:
    enabled: "{{ default .Values.global.checkpointSync.enabled false }}"
    url: "{{ index .Values.global.checkpointSync.addresses .Values.global.main.network }}"
  extraArgs:
    - >-
      --execution-endpoint={{ if .Values.global.main.engineSnooper.enabled }}http://{{ .Release.Name }}-engine-snooper:8551{{ else }}{{ tpl .Values.global.main.engineEndpoint . }}{{ end }}
      {{- with( index .Values.global.clientArgs.networks .Values.global.main.network ) }}
        {{- range .consensus.prysm }}
        {{ . }}
        {{- end -}}
      {{- end -}}

nimbus:
  enabled: false
  nameOverride: beacon
  httpPort: 5052
  p2pPort: 9000
  checkpointSync:
    enabled: "{{ default .Values.global.checkpointSync.enabled false }}"
    url: "{{ index .Values.global.checkpointSync.addresses .Values.global.main.network }}"
    network: "{{ .Values.global.main.network }}"
  extraArgs:
    - >-
      --web3-url={{ if .Values.global.main.engineSnooper.enabled }}http://{{ .Release.Name }}-engine-snooper:8551{{ else }}{{ tpl .Values.global.main.engineEndpoint . }}{{ end }}
      {{- with( index .Values.global.clientArgs.networks .Values.global.main.network ) }}
        {{- range .consensus.nimbus }}
        {{ . }}
        {{- end -}}
      {{- end -}}

########################
###
###  Monitoring
###
########################

ethereum-metrics-exporter:
  enabled: false
  nameOverride: metrics-exporter
  config:
    consensus:
      enabled: true
      url: "{{ tpl  .Values.global.main.beaconEndpoint . }}"
      name: consensus-client
    execution:
      enabled: true
      url: "{{ tpl  .Values.global.main.rpcEndpoint . }}"
      name: execution-client
      modules:
        - eth
        - net
        - web3

xatu-sentry:
  enabled: false
  nameOverride: xatu-sentry
  config:
    logging: "info"
    metricsAddr: ":9090"
    name: "{{ .Release.Name }}"
    ethereum:
      beaconNodeAddress: "{{ tpl  .Values.global.main.beaconEndpoint . }}"
    execution:
      wsAddress: "{{ tpl  .Values.global.main.wsEndpoint . }}"
      rpcAddress: "{{ tpl  .Values.global.main.rpcEndpoint . }}"
    outputs:
    - name: basic
      type: http
      config:
        address: http://localhost:8080
        headers:
          authorization: Someb64Value

tracoor-agent:
  enabled: false
  nameOverride: tracoor-agent
  config:
    logging: "info"
    metricsAddr: ":9090"
    pprofAddr: ":6065"
    name: "{{ .Release.Name }}"
    ethereum:
      beacon:
        nodeAddress: "{{ tpl  .Values.global.main.beaconEndpoint . }}"
      execution:
        nodeAddress: "{{ tpl  .Values.global.main.rpcEndpoint . }}"

    indexer:
      address: localhost:8081 # GRPC port of tracoor-server

    store:
      type: s3
      config:
        region: "us-east-1"
        endpoint: http://localhost:9000
        bucket_name: tracoor

observoor:
  enabled: false
  nameOverride: observoor
  config:
    meta_client_name: "{{ .Release.Name }}"
    meta_network_name: "{{ .Values.global.main.network }}"
    beacon:
      endpoint: "{{ tpl .Values.global.main.beaconEndpoint . }}"

########################
###
###  Engine API Proxy
###
########################

rpc-snooper:
  nameOverride: engine-snooper
  httpPort: 8551
  url: "{{ tpl .Values.global.main.engineEndpoint . }}"
