apiVersion: v1
kind: Service
metadata:
  name: {{ include "nethermind.fullname" . }}-headless
  labels:
    {{- include "nethermind.labels" . | nindent 4 }}
spec:
  clusterIP: None
  ports:
    - port: {{ include "nethermind.p2pPort" . }}
      targetPort: p2p-tcp
      protocol: TCP
      name: p2p-tcp
    - port: {{ include "nethermind.p2pPort" . }}
      targetPort: p2p-udp
      protocol: UDP
      name: p2p-udp
    - port: {{ include "nethermind.httpPort" . }}
      targetPort: http-rpc
      protocol: TCP
      name: http-rpc
    - port: {{ include "nethermind.authPort" . }}
      targetPort: auth-rpc
      protocol: TCP
      name: auth-rpc  
    - port: {{ include "nethermind.metricsPort" . }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  {{- if .Values.extraPorts }}
    {{ toYaml .Values.extraPorts | nindent 4}}
  {{- end }}
  selector:
    {{- include "nethermind.selectorLabels" . | nindent 4 }}
