apiVersion: v1
kind: Service
metadata:
  name: {{ include "dora-the-explorer.fullname" . }}
  labels:
    {{- include "dora-the-explorer.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.httpPort }}
      targetPort: http
      protocol: TCP
      name: http
  {{- if .Values.extraPorts }}
    {{ toYaml .Values.extraPorts | nindent 4}}
  {{- end }}
  selector:
    {{- include "dora-the-explorer.selectorLabels" . | nindent 4 }}
