name: charts/ethereum-node

on:
  pull_request:
    paths:
      - charts/ethereum-node/**
jobs:
  test:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.head_ref }}-${{ matrix.network }}-${{ matrix.consensus }}-${{ matrix.execution }}
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        consensus: [teku, prysm, lighthouse, nimbus, lodestar, grandine]
        execution: [geth, nethermind, erigon, besu, ethereumjs, reth, ethrex]
        network: [sepolia, mainnet]
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Fetch default branch
        run: git fetch origin ${{ github.event.repository.default_branch }}:${{ github.event.repository.default_branch }}

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: v3.18.4

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: 3.12

      - name: Run pre-commit hooks
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1

      - name: Set up chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0
        with:
          version: "v3.13.0"

      - name: Check if chart got changed
        id: list-changed
        run: |
          if ct list-changed --config ct.yaml --target-branch ${{ github.event.repository.default_branch }} | grep -q 'charts/ethereum-node'; then
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

      - name: Run chart-testing (lint)
        run: >
          ct lint
          --config ct.yaml
          --target-branch ${{ github.event.repository.default_branch }}
          --charts charts/ethereum-node

      - name: Create kind cluster
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0
        if: steps.list-changed.outputs.changed == 'true'

      - name: Run chart-testing (install)
        if: steps.list-changed.outputs.changed == 'true'
        run: >
          ct install
          --config ct.yaml
          --target-branch ${{ github.event.repository.default_branch }}
          --charts charts/ethereum-node
          --helm-extra-set-args="
            --values=charts/ethereum-node/ci/networks/${{ matrix.network }}.yaml
            --values=charts/ethereum-node/ci/clients/execution/${{ matrix.execution }}.yaml
            --values=charts/ethereum-node/ci/clients/consensus/${{ matrix.consensus }}.yaml
          "
