name: charts/ethereum-node

on:
  pull_request:
    paths:
      - charts/ethereum-node/**
jobs:
  test:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.head_ref }}-${{ matrix.network }}-${{ matrix.consensus }}-${{ matrix.execution }}
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        consensus: [teku, prysm, lighthouse, nimbus, lodestar, grandine]
        execution: [geth, nethermind, erigon, besu, ethereumjs, reth]
        network: [sepolia, mainnet]
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
          fetch-depth: 0

      - name: Fetch default branch
        run: git fetch origin ${{ github.event.repository.default_branch }}:${{ github.event.repository.default_branch }}

      - name: Set up Helm
        uses: azure/setup-helm@37dd2562cae2f186a3dc13f2bb5d4abe08dbfec4 # 37dd256
          version: v3.16.2

      - uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5.4.0
          python-version: 3.12

      - name: Run pre-commit hooks
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1 name: Set up chart-testing
        uses: helm/chart-testing-action@e6669bcd63d7cb57cb4380c33043eebe5d111992 # v2.6.1
          version: "v3.11.0"

      - name: Check if chart got changed
        id: list-changed
        run: |
          if ct list-changed --config ct.yaml --target-branch ${{ github.event.repository.default_branch }} | grep -q 'charts/ethereum-node'; then
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

      - name: Run chart-testing (lint)
        run: >
          ct lint
          --config ct.yaml
          --target-branch ${{ github.event.repository.default_branch }}
          --charts charts/ethereum-node

      - name: Create kind cluster
        uses: helm/kind-action@0025e74a8c7512023d06dc019c617aa3cf561fde # v1.10.0 steps.list-changed.outputs.changed == 'true'

      - name: Run chart-testing (install)
        if: steps.list-changed.outputs.changed == 'true'
        run: >
          ct install
          --config ct.yaml
          --target-branch ${{ github.event.repository.default_branch }}
          --charts charts/ethereum-node
          --helm-extra-set-args="
            --values=charts/ethereum-node/ci/networks/${{ matrix.network }}.yaml
            --values=charts/ethereum-node/ci/clients/execution/${{ matrix.execution }}.yaml
            --values=charts/ethereum-node/ci/clients/consensus/${{ matrix.consensus }}.yaml
          "
