name: charts/all

on: pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.head_ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.7.0

      - uses: actions/setup-python@v3
        with:
          python-version: 3.7

      - name: Run pre-commit hooks
        uses: pre-commit/action@v3.0.0

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.4.0
        with:
          version: "v3.9.0"

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config ct.yaml)
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

      - name: Run chart-testing (lint)
        run: ct lint --config ct.yaml

      - name: Create kind cluster
        uses: helm/kind-action@v1.5.0
        if: steps.list-changed.outputs.changed == 'true'

      - name: Run chart-testing (install)
        run: >
          ct install --config ct.yaml
          --excluded-charts ethereum-node
          --excluded-charts beaconchain-explorer
          --excluded-charts fauceth
          --excluded-charts eth-faucet
          --excluded-charts genesis-generator
          --excluded-charts beacon-metrics-gazer
